@{
    ViewBag.Title = "Report";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    The online voting system will meet the electoral needs of students and different faculties of the
    university. The developed system will have a more convenient candidate and voter registration
    interface, an efficient voting interface, vote storage, and count plus immediate results and stats
    related to on-going elections events. It will decrease the time duration of conducting the elections
    and save many other resources. It can be expanded to many other scenarios outside the university
    environment for conducting secure online voting.
</p>
